!db-data/.gitignore
!db-data/.gitkeep
.aider*
.DS_Store
.env
.env*
.env*.local
.pnp.js
.pnpm-debug.log*
.vercel
*.db
*.db-journal
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
data/
db-data/*
db/
key.json
next-env.d.ts
node_modules
notes/
npm-debug.log*
speech
TODO.md
todo.txt
yarn-debug.log*
yarn-error.log*