.DS_Store
.env
.env*.local
.env*
.pnp.js
.pnpm-debug.log*
.vercel
*.db
*.db-journal
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
key.json
next-env.d.ts
node_modules
npm-debug.log*
speech
TODO.md
todo.txt
yarn-debug.log*
yarn-error.log*
notes/
phrases-experimental.tsv